* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

h1 {
    color: hsl(218, 44%, 22%);
}

.container {
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 40px auto;
    padding: 20px;
}

.box_qrcode {
    width: 300px;
    height: 300px;
    background-image: url('../images/image-qr-code.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.box_text {
    padding: 10px;
}

.box_text h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.box_text p {
    text-align: justify;
    margin: 10px;
}

@media screen and (min-width: 440px) {
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}